@tailwind base;
@tailwind components;
@tailwind utilities;

img{
  max-height: 100%;
}

input, textarea, select {
  @apply border border-gray-200 rounded-sm w-full px-3 py-1;
  @apply mb-2;
}

input:focus, textarea:focus, select:focus {
  @apply border-blue-900 outline-none
}

h1 {
  @apply text-gray-800 font-bold text-2xl mb-2 ml-1;
}

label {
  @apply font-bold text-gray-600 text-sm
}

.btn-primary {
  @apply font-semibold text-white bg-primary px-4 py-1 rounded-md
}

.btn-red, .btn-default {
  @apply font-semibold text-white px-4 py-1 rounded-md
}

table.my-table {
  @apply w-full mt-2 bg-white rounded-md shadow-md
}

table.my-table thead {
  @apply text-sm uppercase text-gray-500 font-semibold border-b border-gray-300
}

table.my-table tr td{
  @apply px-4 py-0.5
}

table.my-table a{
  @apply font-semibold text-sm px-2 py-1 rounded-md inline-flex gap-1 ml-2 shadow-sm
}


.btn-red{
  @apply bg-red-200 text-red-600
}

.btn-default{
  @apply bg-gray-600 
} 

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
